// Import page-specific CSS files here.
@import "home";
.banner {
  padding: 200px;
  background-position: center;
  background-size: cover;
  background-image: url("Sem título.png");
}

p {
  font-size: 20px;
  color: rgb(255, 255, 255);
}
h1 {
  color: aliceblue;
}